.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.Box-tripCard {
    
}

.img-card {
    width: 100%;
    height: auto;
}

.left-card {
    gap:1rem;
    align-items: center;
}

.left-card button {
    border: 1px solid #fA364f;
    padding: 0.2rem;
    border-radius: 0.1rem ;
    background-color: transparent;
}

.right-card {
    gap: 1rem;
    align-items: center;
}

.arrow {
    color:#fA364f;
    width: 23px;
    height: 23px ;
}