* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif !important;
}

header {
  height: 60vh;
  background-color: bisque;
  padding: 1rem;
}

nav a {
  color: #fff;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* Media desktop*/

media(min-width: 768px) {
  header {
    background: linear-gradient(to right, rgba(87, 112, 132, 0.305), rgba(65, 82, 95, 0.648)), url('/images/sara-dubler-Koei_7yYtIo-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
}
